uvicorn
python-dotenv
motor
passlib==1.7.4
bcrypt
python-jose
pydantic
pydantic-settings
beautifulsoup4
typing-extensions
fastapi[all]
requests
geopy
selenium
webdriver-manager
pdf2image
Pillow
reportlab
